/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End::Reset */

body {
	background-color: #fff;
}

input {
	border-radius: 8px;
	padding: 1rem;
	width: 350px;
	border: 1px solid gray;
	margin: 1rem 0;
}

.title {
	font-weight: bold;
	font-size: 28px;
	font-family: sans-serif;
	margin: 3rem 0;
	text-align: center;
}

.label {
	font-weight: bold;
	font-family: sans-serif;
}

.form-group {
	margin: 1rem 0;
}

.form-button {
	width: 100%;
	height: 40px;
	background-color: #3366FF;
	border: none;
	color: white;
	font-weight: bold;
	border-radius: 8px;
	cursor: pointer;
}

.form-button:active {
	background-color: #254EDB;
}